.chessSwapPawnWrapper {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.626);
    z-index: 11;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    & .chessSwapPawnMenu {
        width: 320px;
        max-height: 300px;
        padding: 10px;
        background-color: white;
        border-radius: 10px;
        color: black;
        & .title {
            font-size: 18px;
            font-weight: 600;
        }
        & .figures {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            padding: 10px;
            row-gap: 5px;
            column-gap: 5px;
            cursor: pointer;
            & .figure:hover {
                color: lightgreen;
            }
        }
    }
}