.history {
    display: grid;
    row-gap: 5px;
    width: 105px;
    max-height: 580px;
    overflow-y: scroll;
    & .element {
        width: 90px;
        padding: 5px;
        text-align: center;
        display: flex;
        justify-items: center;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        color: black;
    }
}