.history {
    display: grid;
    row-gap: 5px;
    width: 105px;
    max-height: 480px;
    overflow-y: scroll;
    & .element {
        min-width: 90px;
        max-width: 90px;
        padding: 5px;
        text-align: center;
        display: flex;
        justify-items: center;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        color: black;
    }
}

@media screen and (max-width: 750px) {
    .history {
        padding: 10px;
        height: 50px;
        column-gap: 5px;
        display: flex;
        align-items: center;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 380px;
        & .element {
            min-width: 50px;
            max-width: 50px;
        }
    }
}

@media screen and (max-width: 410px) {
    .history {
        width: 300px;
    }
}