.chess {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(19, 18, 18, 0.905);
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  column-gap: 10px;
}

@media screen and (max-width: 750px) {
  .chess {
    display: flex;
    flex-direction: column;
  }
}
/* width */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
